# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which might contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files, as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files as they are usually used to override resources locally
# !override.tf
# !override.tf.json
# !*_override.tf
# !*_override.tf.json

# Include lock files
# !.terraform.lock.hcl

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore plan files
*.tfplan

# Ignore Mac .DS_Store files
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.env
.env.local
